/* Background overlay */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal box */
.model-content {
  width: 90%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  animation: popupScale 0.25s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

/* Header */
.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 4px 18px;
  background: rgb(36, 94, 255);
  color: white;
}

/* Close icon */
.close-model-icon {
  font-size: 28px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: 0.2s;
}

.close-model-icon:hover {
  color: #ffcccc;
}

/* Body */
.body {
  padding: 5px;
  font-size: 17px;
  color: #000000;
}

/* Footer */
.footer {
 padding: 4px 18px;
  background: #650667;
  text-align: center;
}

/* Animation */
@keyframes popupScale {
  from{
    top: -200px;
    transform: scale(0.75);
    opacity: 0;
  }
  to{
    top: 0;
    transform: scale(1);
    opacity:1;
  }
}