/* .wrapper{
  display: flex;
  height:100vh;
  width:100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px ;
}
.wrapper button{
  background: #614101;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}
.accordian{
  width:500px;
  
}
.item{
  background:#614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.title{
  color: aliceblue;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content{
  color: azure;
  height: auto;
}
  */