/* Main container */
.github-profile-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Arial, sans-serif;
}

/* Input wrapper */
.input-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input-wrapper input {
  width: 65%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

.input-wrapper input:focus {
  border-color: #1010ca;
  box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.4);
}

.input-wrapper button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.input-wrapper button:hover {
  background-color: #000000;
  border: 1px solid white;
}

/* User Card */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: #0059c9;
  background: #f8f9fa;
  border-radius: 12px;
  border: 1px solid #f60000;
}

/* Avatar */
.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #ddd;
}

/* Name + link */
.user a {
  font-size: 22px;
  font-weight: bold;
  color:rgb(54, 0, 251);
  
}
 
 